<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}
        <li><img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if activity %}
    <ul>
    {% for row in activity %}
    	<li>user_id: {{row[0]}} Contribution Score: {{row[1]}} name: {{row[2]}}{{row[3]}} Email: {{row[4]}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/addfriends'>Add a friend</a> </li> 
<li><a href='/listfriends'>List all your friends</a> </li> 
<li><a href='/photosearch'>Photo search</a> </li> 
<li><a href='/listalbums'>Go to your albums</a> </li>
<li><a href='/usract'>Check the user activity</a> </li> 
<li><a href='/logout'>Logout</a></li>
<li><a href='/home'>Home</a></li>
</ul>
